!! URxvt settings
!! Appearance
urxvt.termName: rxvt-unicode
urxvt.scrollBar: false
!! Font prefferenes
urxvt.font: xft:Noto Sans Mono:pixelsize=13
urxvt.boldFont: xft:Noto Sans Mono:pixelsize=13:weight=bold
urxvt.letterSpace: -1
!! Larger history limit
urxvt.saveLines: 0

!! Xautolock settings
Xautolock.time: 2
Xautolock.locker: /usr/bin/lock/i3lock -e -c 000000
Xautolock.killtime: 5
Xautolock.killer: systemctl suspend
Xautolock.detectsleep: true
Xautolock.secure: true
Xautolock.noclose: true
